@model DiamondLuxurySolution.ViewModel.Models.Platform.PlatfromVm

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết nền tảng</h1>
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <h6 class="text-danger">@error</h6>
    }
}
@if(Model != null)
{
    
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Id của nền tảng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlatformId)
        </dd>
        <dt class="col-sm-2">
            Tên nền tảng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlatformName)
        </dd>
        <dt class="col-sm-2">
            Nền tảng Url
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlatformUrl)
        </dd>
        <dt class="col-sm-2">
            Logo
        </dt>
        <dd class="col-sm-10">
            @if (Model.PlatformLogo != null)
            {
                <img src="@Model.PlatformLogo" style="style= height:100px; width:100px" />
            }
            else
            {
                <h5>Chưa co logo</h5>
            }
        </dd>
        <dt class="col-sm-2">
            Hiển thị
        </dt>
        <dd class="col-sm-10">
            <div class="form-check form-switch ">
                <input class="form-check-input f-18 ml-3" type="checkbox" asp-for="Status" value="@Model.Status" disabled />
            </div>
        </dd>
    </dl>
</div>
    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("Chỉnh sửa", "Edit", new { PlatformID = Model.PlatformId }, new { @class = "btn btn-warning" })
        </div>
        <div class="col-md-6">
            <a class="m-5" asp-action="Index" asp-controller="Role">Về trang quản lí chức vụ</a>
        </div>
    </div>
}
else
{
    <div>
        <a class="m-5" asp-action="Index" asp-controller="Role">Về trang quản lí chức vụ</a>
    </div>
}
