@using DiamondLuxurySolution.Data.Entities
@using DiamondLuxurySolution.ViewModel.Common
@using DiamondLuxurySolution.ViewModel.Models.Platform

@model PageResult<PlatfromVm>

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <form asp-action="Search" asp-controller="Platform" method="post">
        <input placeholder="Tìm kiếm nền tảng" name="Keyword" />
        <input type="submit" value="Tìm kiếm" />

    </form>
</div>
@if (Model != null)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                   <label>PlatformId</label>
                </th>
                <th>
                    <label>PlatformName</label>

                </th>
                <th>
                    <label>PlatformUrl</label>

                </th>
                <th>
                    <label>PlatformLogo</label>

                </th>
                <th>
                    <label>Status</label>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlatformId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlatformName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlatformUrl)
                    </td>
                    <td>
                        <img src="@item.PlatformLogo" style="height:100px; width:100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

        </tbody>
    </table>
  
}
else
{
    <h1>Không có thông tín</h1>
}
<div class="d-flex justify-content-center align-items-center">
    @await Component.InvokeAsync("Pager", Model)
</div>