@using DiamondLuxurySolution.ViewModel.Models.Collection
@model List<CollectionVm>
<head>
    <style>
        .slick-btn {
            display: none !important
        }

        .slider-area:hover .slick-btn {
            display: block !important;
        }

        .homepage-slider:hover .slick-btn {
            display: block !important;
        }

        .slider-content {
            text-align: start;
            justify-content: start
        }

        .center-text {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .center-text-line-height {
            line-height: 50px;
            height: 50px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #e6b800;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="slider-area">
            <div class="homepage-slider">

                @foreach (var collection in Model)
                {
                    if (collection.IsHome)
                    {
                        <!-- Single Slide Start -->
                        <div class="single-slider content-v-center"
                             style="background-image: url(@collection.Thumbnail)">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="slider-content">
                                            <h5 data-animation="rollIn" data-duration=".8s" data-delay=".5s" class=""
                                                style="animation-delay: 0.5s; animation-duration: 0.8s; color: #e6b800; font-weigh: bold">
                                                @collection.Description
                                                Ưu Đãi Độc Quyền - Giảm 20% Tuần Này
                                            </h5>
                                            <h1 data-animation="fadeInDown" data-duration=".8s" data-delay=".2s" class=""
                                                style="animation-delay: 0.2s; animation-duration: 0.8s;">
                                                @collection.CollectionName
                                            </h1>
                                            <p class="mb--50 mb-sm--20" data-animation="fadeInDown" data-duration=".8s" data-delay=".2s"
                                               style="animation-delay: 0.2s; animation-duration: 0.8s;">
                                                Giá Khởi Điểm Từ
                                                <strong style="color: #e6b800">@collection.priceDisplay.ToString("N0")₫</strong>
                                            </p>
                                            <div class="slide-btn-group" data-animation="fadeInUp" data-duration="1s" data-delay=".3s"
                                                 style="animation-delay: 0.3s; animation-duration: 1s;">
                                                <a href="@Url.Action("Index", "Collection_List", new { collectionId = collection.CollectionId })"
                                                   type="button" class="btn btn-bordered btn-style-1" class="btn btn-bordered btn-style-1 center-text" tabindex="-1">
                                                    Mua Sắm Tại Đây
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }
</body>