@model DiamondLuxurySolution.ViewModel.Models.Product.ProductVm


@{
	ViewData["Title"] = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-bottom header-top-1 position-relative navigation-wrap fixed-header">
	<div class="container position-static">
		<div class="row">
			<div class="col-12 position-static">
				<nav class="main-navigation">
					<ul class="mainmenu col-12">
						<li class="mainmenu__item active">
							<a href="/Home/Index" class="mainmenu__link" style="color: white;">Trang Chủ</a>
						</li>
						<li class="mainmenu__item menu-item-has-children has-children">
							<a href="#" class="mainmenu__link">Kim Cương</a>
							<ul class="sub-menu">
								<li><a href="#">Kim Cương Tự Nhiên</a></li>
								<li><a href="#">Kim Cương Nhân Tạo</a></li>
							</ul>
						</li>
						<li class="mainmenu__item menu-item-has-children">
							<a href="/DiamondJewelry/Index" class="mainmenu__link" style="color: #A86B28">Trang Sức Kim Cương</a>
							<ul class="megamenu three-column">
								<li>
									<a class="megamenu-title" href="/TSKC_Nhan/Index">Nhẫn Kim Cương</a>
								</li>
								<li>
									<a class="megamenu-title" href="/TSKC_VongTay/Index">
										Vòng Tay Kim
										Cương
									</a>
									<a class="megamenu-title" href="/TSKC_LacTay/Index">
										Lắc Tay Kim
										Cương
									</a>
								</li>
								<li>
									<a class="megamenu-title" href="/TSKC_HoaTai/Index">
										Hoa Tai Kim
										Cương
									</a>
									<a class="megamenu-title" href="/TSKC_DayChuyen/Index">
										Mặt Dây
										Chuyền KC
									</a>
								</li>
							</ul>
						</li>
						<li class="mainmenu__item menu-item-has-children">
							<a href="trangsuccuoi.html" class="mainmenu__link">Trang Sức Cưới</a>
							<ul class="megamenu">
								<li>
									<a class="megamenu-title" href="nhanCuoiKimCuong.html">
										Nhẫn Cưới Kim
										Cương
									</a>
								</li>
								<li>
									<a class="megamenu-title" href="nhanKCcauhon.html">
										Nhẫn Kim Cương Cầu
										Hôn
									</a>
								</li>
							</ul>
						</li>
						<li class="mainmenu__item menu-item-has-children has-children">
							<a href="BoSuuTap.html" class="mainmenu__link">Bộ Sưu Tập</a>
							<ul class="sub-menu">
								<li class="menu-item-has-children has-children">
									<a href="BoSuuTapQuyOng.html">BST Quý Ông</a>
									<ul class="sub-menu">
										<li><a href="DangCapUyQuyen.html">Đẳng Cấp & Uy Quyền</a></li>
										<li><a href="SangTrongBanLinh.html">Sang Trọng Và Bản Lĩnh</a></li>
										<li>
											<a href="PhongThuyThanhCong.html">Phong Thủy Và Thành Công</a>
										</li>
										<li>
											<a href="PhongCachThoiTrang.html">Phong Cách Và Thời Trang</a>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapNhanCuoi.html">BST Nhẫn Cưới</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapNhanCauHon.html">BST Nhẫn Cầu Hôn</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapDayChuyen.html">BST Dây Chuyền</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapKimCuong.html">BST Kim Cương</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapBanChayNhat.html">BST Bán Chạy Nhất</a>
								</li>
							</ul>
						</li>
						<li class="mainmenu__item">
							<a href="/TablePrice/Index" class="mainmenu__link">Bảng Giá Kim Cương</a>
						</li>
						<li class="mainmenu__item menu-item-has-children has-children">
							<a class="mainmenu__link" href="#">Kiến Thức</a>
							<ul class="sub-menu">
								<li class="menu-item">
									<a href="kienthuckimcuong.html">Kiến Thức Kim Cương</a>
								</li>
								<li class="menu-item">
									<a href="kienthuctrangsuc.html">Kiến Thức Trang Sức</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="#">Hướng Dẫn Chọn Ni</a>
									<ul class="sub-menu">
										<li class="menu-item-has-children">
											<a href="huongdandovongtay.html">Hướng Dẫn Đo Vòng Tay</a>
										</li>
										<li class="menu-item-has-children">
											<a href="huongdandoninhan.html">Hướng Dẫn Đo Ni Nhẫn</a>
										</li>
										<li class="menu-item-has-children">
											<a href="huongdandodaychuyen.html">Hướng Dẫn Đo Dây Chuyền</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="mainmenu__item menu-item-has-children has-children">
							<a href="#" class="mainmenu__link">Thông Tin</a>
							<ul class="sub-menu">
								<li><a href="ThongTinKhuyenMai.html">Thông Tin Khuyến Mãi</a></li>
								<li><a href="TinTuc.html">Tin Tức</a></li>
								<li><a href="CauHoiThuongGap.html">Các Câu Hỏi Thường Gặp</a></li>
							</ul>
						</li>
						<li class="mainmenu__item">
							<a href="gioithieu.html" class="mainmenu__link">Giới Thiệu</a>
						</li>
						<li class="mainmenu__item">
							<a href="lienhe.html" class="mainmenu__link">Liên Hệ</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-12">
				<div class="mobile-menu"></div>
			</div>
		</div>
	</div>
</div>

<!-- Breadcumb area Start -->
<div class="breadcrumb-area">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="page-title">Chi Tiết Sản Phẩm</h1>
				<ul class="breadcrumb justify-content-center">
					<li><a href="/Home/Index">Trang Chủ</a></li>
					<li><a href="/DiamondJewelry/Index">Trang Sức Kim Cương</a></li>
					<li class="current"><a href="/DiamondJewelry/Detail?ProductId=@Model.ProductId">Chi Tiết Sản Phẩm</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Breadcumb area End -->
<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper">
	<div class="single-products-area section-padding section-md-padding">
		<div class="container">
			<!-- Single Product Start -->
			<section class="mirora-single-product pb--80 pb-md--60">
				<div class="row">
					<div class="col-lg-6">
						<!-- Tab Content Start -->
						<div class="tab-content product-details-thumb-large" id="myTabContent-3">
							<div class="tab-pane fade show active" id="product-large-one">
								<div class="product-details-img">
									<a class="popup-btn" href="@Model.ProductThumbnail">
										<img src="@Model.ProductThumbnail" alt="product" style="width : 600px; height : 450px">
									</a>
								</div>
							</div>
							@if (Model.Images != null)
							{
								@foreach (var imagepath in Model.Images)
								{
									<div class="tab-pane fade" id="product-large-@imagepath.GetHashCode()">
										<div class="product-details-img">
											<a class="popup-btn" href="@imagepath">
												@if (!string.IsNullOrEmpty(@imagepath))
												{
													<img src="@imagepath" style="width : 600px; height : 450px" alt="product">
												}
												else
												{
													<p>No image available</p>
												}
											</a>
										</div>
									</div>
								}
							}
						</div>
						<!-- Tab Content End -->
						<!-- Product Thumbnail Carousel Start -->
						<div class="product-details-thumbnail">
							<div class="thumb-menu product-details-thumb-menu nav-vertical-center" id="thumbmenu-horizontal">
								<div class="thumb-menu-item">
									<a href="#product-large-one" data-bs-toggle="tab" class="nav-link active">
										<img src="@Model.ProductThumbnail" alt="product thumb" style="width : 200px; height : 100px">
									</a>
								</div>
								@if (Model.Images != null)
								{
									@foreach (var imagepath in Model.Images)
									{
										if (!string.IsNullOrEmpty(imagepath))
										{
											<div class="thumb-menu-item">
												<a href="#product-large-@imagepath.GetHashCode()" data-bs-toggle="tab" class="nav-link">
													<img src="@imagepath" alt="product thumb" style="width : 200px; height : 100px">
												</a>
											</div>
										}
									}
								}
							</div>
						</div>
						<!-- Product Thumbnail Carousel End -->


					</div>
					<div class="col-lg-6">
						<!-- Single Product Content Start -->
						<div class="product-details-content" style="margin-left: 100px;">
							<div class="product-details-top" style="text-align: left; margin-bottom: 10px;">
								<h2 class="product-details-name" style="font-family: 'Prata'; line-height: unset;">
									@Model.ProductName
								</h2>
								<div class="product-details-price-wrapper product-price-wrapper" style="margin-bottom: 10px;">
									<span class="money">@Model.SellingPrice.ToString("N0")₫</span>
									@if (Model.IsSale)
									{
										<span class="product-price-old">
											<span class="money">@Model.OriginalPrice.ToString("N0")₫</span>
										</span>
									}
								</div>
								<div>
									<h5>
										Sản phẩm đã bán: @Model.QuantitySold
									</h5>
								</div>
							</div>

							<div class="product-details-bottom">
								<div class="product-details-options mb--20">
									@if (Model.MaterialVm != null)
									{
										<div class="form-group mb--20" style="display : flex;">
											<div class="col-md-6">
												<label style="font-size : 23px;">Chất Liệu<sup style="font-size : 21px;">*</sup>: </label>
											</div>
											<div class="col-md-6">
												<span style="font-size : 25px; color: #996A18;">@Model.MaterialVm.MaterialName</span>
											</div>
										</div>
									}
									<div class="form-group mb--20" style="display : flex;">
										<div class="col-md-6">
											<label style="font-size : 23px;">Viên Chính<sup style="font-size : 21px;">*</sup>: </label>
										</div>
										<div class="col-md-6">
											<span style="font-size : 25px; color: #996A18">@Model.GemVm.GemName</span>
										</div>
									</div>
									@if (Model.ListSubGems != null && Model.ListSubGems.Count() > 0)
									{
										<div class="form-group mb--20" style="display : flex;">
											<div class="col-md-6">
												<label style="font-size : 23px;">Viên Phụ<sup style="font-size : 21px;">*</sup>: </label>
											</div>
											<div class="col-md-6">
												@foreach (var subGem in Model.ListSubGems)
												{
													<span style="font-size : 25px; color: #996A18">@subGem.SubGemName</span>
												}
											</div>
										</div>
									}
								</div>
								<a href="huongdandovongtay.html">
									<p class="product-details-availability" style="margin-bottom: 15px;">
										<i class="fa fa-check-circle"></i> Hướng Dẫn Chọn Ni
									</p>
								</a>
								<div class="product-details-action-wrapper mb--20">
									<div class="product-details-action-top d-flex align-items-center mb--20">
										<div class="quantity-controls">
											<span style="margin-right: 10px;">Chọn Số Lượng</span>
											<div class="quantity-controls1">
												<button type="button" class="quantity-btn1 quantity-decrease1 d-flex justify-content-center align-items-center">-</button>
												<input type="text" class="quantity-input" value="1" size="2" readonly style="text-align: center; border-radius : 20px;">
												<button type="button" class="quantity-btn1 quantity-increase1 d-flex justify-content-center align-items-center">+</button>
											</div>
										</div>
									</div>

									<a href="muaNgay.html" class="khoangcach">
										<button type="button" class="btn1 btn-border1" style="margin-right: 9px; border-radius: 5%;">Mua Ngay</button>
									</a>
									<a href="gioHang.html">
										<button type="button" class="btn btn-style-2 ">Thêm Vào Giỏ Hàng</button>
									</a>

								</div>
								<style>
									.disabled {
										pointer-events: none;
										cursor: default;
										color: grey;
									}
								</style>
								<div class="social-share">
									<a href="https://www.facebook.com/diamondluxurystore" target="_blank" rel="noopener noreferrer" class="facebook share-button">
										<i class="fa fa-facebook"></i>
										<span>Like</span>
									</a>
									<a href="https://twitter.com" target="_blank" rel="noopener noreferrer" class="twitter share-button disabled">
										<i class="fa fa-twitter"></i>
										<span>Tweet</span>
									</a>
									<a href="#" class="share share-button disabled">
										<i class="fa fa-plus-square"></i>
										<span>Share</span>
									</a>
								</div>
							</div>
						</div>
						<!-- Single Product Content End -->

					</div>
				</div>
			</section>
			<!-- Single Product End -->
			<!-- Single Product Tab Start -->
			<section class="product-details-tab bg--dark-4 ptb--80 ptb-md--60">
				<div class="row">
					<div class="col-12">
						<ul class="product-details-tab-head nav nav-tab" id="singleProductTab" role="tablist">
							<li class="nav-item product-details-tab-item">
								<a class="nav-link product-details-tab-link active" id="nav-desc-tab"
								   data-bs-toggle="tab" href="#nav-desc" role="tab" aria-controls="nav-desc"
								   aria-selected="true">Thông Số Chi Tiết</a>
							</li>
							<li class="nav-item product-details-tab-item">
								<a class="nav-link product-details-tab-link" id="nav-details-tab"
								   data-bs-toggle="tab" href="#nav-details" role="tab"
								   aria-controls="nav-details" aria-selected="true">Thông Tin Sản Phẩm</a>
							</li>

						</ul>
						<style>
							table {
								width: 100%;
								border-collapse: collapse;
								margin: 20px 0;
								font-size: 18px;
								text-align: left;
								margin-left: 0
							}

							th,
							td {
								padding: 6px;
								border: 1px solid #ddd;
								text-align: left;
								width: 20px;
							}
						</style>
						<div class="product-details-tab-content tab-content">
							<div class="tab-pane fade show active" id="nav-desc" role="tabpanel">
								<table>
									@{
										var closestGemPriceList = Model.GemPriceLists
										.OrderBy(gp => Math.Abs((gp.effectDate - DateTime.Now).Ticks))
										.FirstOrDefault();
									}
									<tr>
										<th>Thương hiệu</th>
										<td>Diamond Luxury</td>
									</tr>
									<tr>
										<th>Loại sản phẩm</th>
										<td>@Model.CategoryVm.CategoryName</td>
									</tr>
									<tr>
										<th>Mã sản phẩm</th>
										<td>@Model.ProductId</td>
									</tr>
									<tr>
										<th>Độ tinh khiết</th>
										<td>@closestGemPriceList.Clarity</td>
									</tr>
									<tr>
										<th>Kiểu dáng</th>
										<td>@closestGemPriceList.Cut</td>
									</tr>
									<tr>
										<th>Ni tay</th>
										<td>Tùy chỉnh</td>
									</tr>
									<tr>
										<th>Kích thước viên chủ</th>
										<td>@closestGemPriceList.CaratWeight</td>
									</tr>
									<tr>
										<th>Kiểu viên chủ</th>
										<td>@Model.GemVm.GemName</td>
									</tr>
									<tr>
										<th>Huỳnh quang</th>
										@if (@Model.GemVm.Fluoresence)
										{
											<td>Có</td>
										}
										else
										{
											<td>Không</td>
										}
									</tr>
									<tr>
										<th>Loại đá tấm</th>
										@if (@Model.ListSubGems != null && @Model.ListSubGems.Count() > 0)
										{
											@foreach (var subGem in @Model.ListSubGems)
											{
												<td>@subGem.SubGemName</td>
											}
										}
										else
										{
											<td>Không có</td>
										}
										
									</tr>
									<tr>
										<th>Số lượng đá tấm</th>
										
										@if (@Model.ListSubGems != null && @Model.ListSubGems.Count() > 0)
										{
											@foreach (var subGem in @Model.ListSubGems)
											{
												<td>@subGem.Quantity</td>
											}
										}
										else
										{
											<td>Không có</td>
										}
									</tr>
									<tr>
										<th>Màu đá</th>
										<td>@closestGemPriceList.Color</td>
									</tr>
									<tr>
										<th>Loại vàng</th>
										<td>@Model.MaterialVm.Color</td>
									</tr>
									<tr>
										<th>Tuổi vàng</th>
										<td>@Model.MaterialVm.MaterialName</td>
									</tr>
									<tr>
										<th>Trọng lượng vàng</th>
										<td>@Model.FrameVm.Weight</td>
									</tr>
								</table>

							</div>
							<div class="tab-pane" role="tabpanel" id="nav-details"
								 aria-labelledby="nav-details-tab">
								<div class="product-details-additional-info">
									<h4>
										Lắc tay vòng tay kim cương nữ vàng trắng 18K VT 0159 có phần trung tâm
										là một cụm hình hoa được tạo ra từ các viên kim cương nhỏ li ti, tạo
										điểm nhấn lấp lánh cho tay người đeo. Phần dây đeo được làm từ vàng
										trắng cao cấp, gia công tỉ mĩ với các đường cắt độc đáo.
										Mẫu giấy chứng nhận GIA tại Diamond Luxury
									</h4>
									<div class="table-content table-responsive" style="text-align: center;">
										<img style="margin: 20px; width : 600px; height : 800px;"
											 src="../assets/img/Banggiakimcuong/bang-gia-kim-cuong-xac-nhan-GIA.jpg">
									</div>
									<h4>
										Chiếc vòng tay vừa thể hiện sự sang trọng và tinh tế trong từng chi
										tiết, vừa làm nổi bật phong cách cá nhân của người đeo trong bất kỳ dịp
										đặc biệt nào. Để sở hữu chiếc lắc tay mã VT 0159 và tham khảo thêm nhiều
										mẫu vòng tay kim cương khác, quý khách hãy liên hệ ngay Cao Hùng
										Diamond.
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Single Product Tab End -->
			<!-- Related Product Start -->
			<!-- Related Product End -->
		</div>
	</div>
</div>
<!-- Main Content Wrapper End -->
