@using System.Text.RegularExpressions
@functions {
    // Hàm helper để loại bỏ các thẻ HTML từ chuỗi
    public string StripHtml(string input)
    {
        return Regex.Replace(input, "<.*?>", string.Empty);
    }
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    // Tạo một biến tạm để lưu trữ chuỗi đã được xử lý
    string processedDescription = @Model.Description;

    // Biểu thức chính quy để tìm kiếm các đoạn văn bản được in nghiêng
    string pattern = "<i>(.*?)</i>";

    // Tạo một đối tượng Regex để tìm kiếm trong Model.Description
    Regex regex = new Regex(pattern);

    // Tìm kiếm các đoạn văn bản được in nghiêng trong Model.Description
    MatchCollection matches = regex.Matches(@Model.Description);

    // Duyệt qua từng kết quả tìm kiếm
    foreach (Match match in matches)
    {
        // Lấy ra chuỗi được in nghiêng từ kết quả tìm kiếm
        string italicizedText = match.Groups[1].Value;

        // Thay thế các thẻ <i> bằng thẻ <span> với class 'post-title' và màu sắc
        processedDescription = processedDescription.Replace($"<i>{italicizedText}</i>", $"<span class='post-title' style='color: #a8741a; line-height: 1.5'>{italicizedText}</span>");
    }


}



<div class="breadcrumb-area" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Danh Mục: Kiến Thức Kim Cương</h1>
                <h2>Tổng hợp những bài viết mới nhất về kim cương, hột xoàn</h2>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="/Home/Index">Trang Chủ</a></li>
                    <li class="current"><a href="/KienThucKC/Index">Kiến Thức Kim Cương</a></li>
                </ul>
            </div>
            <h1 class="page-title" style="text-align:center;margin-top: 30px;" ">@Model.KnowledgeNewsName</h1>
        </div>
    </div>
</div>

<div class="main-content-wrapper" style="background-color: black;">
    <div class="single-post-area pt--40 pb--80 pt-md--30 pb-md--60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 order-lg-2 order-1 mb-md--30">
                    <div class="single-post-wrapper">
                        <article class="post post-details mb--30">
                            <div class="post-media">
                                <div class="image">
                                    <img src="@Model.Thumnail" alt="blog">
                                </div>
                            </div>
                            <div class="post-info">
                                <header class="entry-header">
                                    <div class="entry-meta">
                                        <span class="post-author">
                                            <span class="post-by">Đăng Bởi:</span>
            @Model.Writer.FullName
                                        </span>

                                        <span class="post-date">@Model.DateModified</span>
                                    </div>
                                </header>
                                <div class="post-content">
                                    <p>@Html.Raw(processedDescription)</p>
                                </div>
                                <div class="social__sharing mb--30">
                                    <h3>Chia sẻ bài này</h3>
                                    <ul class="social social-round">
                                        <li class="social__item">
                                            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer" class="social__link"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        <li class="social__item">
                                            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" class="social__link"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        <li class="social__item">
                                            <a href="pinterest.com" class="social__link"><i class="fa fa-pinterest"></i></a>
                                        </li>
                                        <li class="social__item">
                                            <a href="google.plus.com" class="social__link"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        <li class="social__item">
                                            <a href="linkedin.com" class="social__link"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                </aside>
            </div>
        </div>
    </div>
</div>
        </div>
