@using DiamondLuxurySolution.Data.Entities
@using DiamondLuxurySolution.ViewModel.Common
@using DiamondLuxurySolution.ViewModel.Models.Contact

@model PageResult<ContactVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-3">
    <p>
        <a asp-action="Create" asp-controller="Contact" class="btn btn-success">Tạo mới</a>
    </p>
</div>

@if (Model.Items != null && Model.Items.Count > 0)
{
    <form asp-action="Index" asp-controller="Contact" method="get">

        <div class="row m-3">
            <div class="col-md-6">
            </div>
            <div class="col-md-4">
                <input type="text" name="Keyword" class="form-control" value="@ViewBag.txtLastSeachValue" placeholder="Tìm kiếm liên hệ">
            </div>
            <div class="col-md-2">
                <button class="btn btn-success">Tìm kiếm</button>

            </div>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>ContactId</label>
                </th>
                <th>
                    <label>Tên người dùng</label>
                </th>
                <th>
                    <label>Email</label>
                </th>
                <th>
                    <label>Số điện thoại</label>
                </th>
                <th>
                    <label>Nội dung</label>
                </th>
                <th>
                    <label>Trả lời</label>
                </th>
                <th style="text-align">Cài đặt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.ContactId</td>
                    <td>@item.ContactNameUser</td>
                    <td>@item.ContactEmailUser</td>
                    <td>@item.ContactPhoneUser</td>
                    <td>@item.Content</td>
                    <td>@item.IsResponse</td>
                    <td class="text-center">
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { ContactId = item.ContactId }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Xem chi tiết", "Detail", new { ContactId = item.ContactId }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Xóa", "Delete", new { ContactId = item.ContactId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        @await Component.InvokeAsync("Pager", Model)
    </div>
}
else
{
    <h1>Không có thông tin</h1>
}

