@using DiamondLuxurySolution.Data.Entities
@using DiamondLuxurySolution.ViewModel.Common
@using DiamondLuxurySolution.ViewModel.Models.Contact

@model PageResult<ContactVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-4">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Contact" method="get" class="d-flex">

            <div class="search">
                <input type="text" name="Keyword" class="form-control mr-2" value="@ViewBag.txtLastSeachValue" placeholder="Tìm kiếm liên hệ" />
                <button type="submit">Tìm kiếm</button>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <h6 class="text-danger">@error</h6>
    }
}

@if (Model.Items != null && Model.Items.Count > 0)
{

    <table class="table" id="sort">
        <thead>
            <tr class="text-center">

                <th>
                    <label>Tên người dùng</label>
                    <label onclick="sortTable(1)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                </th>
                <th>
                    <label>Email</label>
                    <label onclick="sortTable(2)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                </th>
                <th>
                    <label>Số điện thoại</label>
                    <label onclick="sortTable(3)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                </th>
                <th>
                    <label>Ngày gửi</label>
                    <label onclick="sortTable(0)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                </th>
                <th>
                    <label>Trả lời</label>
                </th>
                <th>Cài đặt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="text-center">
                    <td>@item.ContactNameUser</td>
                    <td>@item.ContactEmailUser</td>
                    <td>@item.ContactPhoneUser</td>
                    <td>@item.DateSendRequest</td>

                    @if (item.IsResponse == true)
                    {
                        <td>
                            <span class="badge bg-success rounded-pill">Đã trả lời</span>

                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="badge bg-danger rounded-pill">Chưa trả lời</span>

                        </td>

                    }
                    <td class="text-center">
                        @if (!item.IsResponse)
                        {
                            @Html.ActionLink("Chỉnh sửa", "Edit", new { ContactId = item.ContactId }, new { @class = "btn btn-warning", @style = "    margin: 0 2px;" })
                            @Html.ActionLink("Xem chi tiết", "Detail", new { ContactId = item.ContactId }, new { @class = "btn btn-info", @style = "    margin: 0 2px;" })
                            @Html.ActionLink("Xóa", "Delete", new { ContactId = item.ContactId }, new { @class = "btn btn-danger", @style = "    margin: 0 2px;" })
                        }
                        else
                        {
                            @Html.ActionLink("Xem chi tiết", "Detail", new { ContactId = item.ContactId }, new { @class = "btn btn-info" })
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        @await Component.InvokeAsync("Pager", Model)
    </div>
}
else
{
    <h1>Không có thông tin</h1>
}
@section scripts
{
    <script src="~/assets/js/Test.js"></script>
}