@using DiamondLuxurySolution.ViewModel.Models.Promotion
@using DiamondLuxurySolution.Data.Entities
@using DiamondLuxurySolution.ViewModel.Common
@using DiamondLuxurySolution.ViewModel.Models.User.Staff

@model PageResult<PromotionVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var staffVm = StaffSessionHelper.GetObjectFromJson<StaffVm>("Staff");
}
<div class="row mb-4">
    <div class="col-md-4">
        @if (!staffVm.ListRoleName.Contains(DiamondLuxurySolution.Utilities.Constants.Systemconstant.UserRoleDefault.SalesStaff))
        {
            <a asp-action="Create" asp-controller="Promotion" class="btn btn-success">Tạo mới</a>
        }
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form asp-action="Index" asp-controller="Promotion" method="get" class="d-flex">

            <div class="search">
                <input type="text" name="Keyword" class="form-control mr-2" value="@ViewBag.txtLastSeachValue" placeholder="Tìm kiếm khuyến mãi" />
                <button type="submit">Tìm kiếm</button>
            </div>
        </form>
    </div>
</div>
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <h6 class="text-danger">@error</h6>
    }
}

@if (Model.Items != null && Model.Items.Count > 0)
{

<<<<<<< HEAD
    <table class="table" id="sort">
            <thead>
                <tr class="text-center">
                    <th>
                        <label>Tên khuyến mãi</label>
                    <label onclick="sortTable(0)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                    </th>
                    <th>
                        <label>Hình ảnh khuyến mãi</label>
                    <label onclick="sortTable(1)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                    </th>
                    <th>
                        <label>Ngày bắt đầu</label>
                    <label onclick="sortTable(2)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                    </th>
                    <th>
                        <label>Ngày kết thúc</label>
                    <label onclick="sortTable(3)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                    </th>
                    <th>
                        <label>Hiển thị</label>
                    <label onclick="sortTable(4)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                    </th>
                    <th>Cài đặt</th>
                </tr>
            </thead>
            <tbody>
=======
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>
                    <label>Tên khuyến mãi</label>
                </th>
                <th>
                    <label>Hình ảnh khuyến mãi</label>
                </th>
                <th>
                    <label>Ngày bắt đầu</label>
                </th>
                <th>
                    <label>Ngày kết thúc</label>
                </th>
                <th>
                    <label>Áp dụng</label>
                </th>
                <th>Cài đặt</th>
            </tr>
        </thead>
        <tbody>
>>>>>>> fd0405a2d6975eba4001694c29935eeeadd07657
            @foreach (var item in Model.Items)
            {
                <tr class="text-center">
                    <td>@item.PromotionName</td>
                    @if (string.IsNullOrEmpty(item.PromotionImage))
                    {
                        <td>Không có hình ảnh</td>
                    }
                    else
                    {
                        <td>
                            <img src="@item.PromotionImage" style="height:100px; width:100px" />
                        </td>
                    }
                    <td>@item.StartDate</td>
                    <td>@item.EndDate</td>
                    @if (item.Status == true)
                    {
                        <td>
                            <span class="badge bg-success rounded-pill">Hoạt động</span>

                        </td>
                    }
                    else
                    {
                        <td>
                            <span class="badge bg-danger rounded-pill">Chưa hoạt động</span>

                        </td>

                    }
                    @if (!staffVm.ListRoleName.Contains(DiamondLuxurySolution.Utilities.Constants.Systemconstant.UserRoleDefault.SalesStaff))
                    {
                        <td class="text-center">
                            @Html.ActionLink("Chỉnh sửa", "Edit", new { PromotionId = item.PromotionId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Xem chi tiết", "Detail", new { PromotionId = item.PromotionId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Xóa", "Delete", new { PromotionId = item.PromotionId }, new { @class = "btn btn-danger" })
                        </td>
                    }
                    else
                    {
                        <td class="text-center">
                            @Html.ActionLink("Xem chi tiết", "Detail", new { PromotionId = item.PromotionId }, new { @class = "btn btn-info" })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        @await Component.InvokeAsync("Pager", Model)
    </div>
}
else
{
    <h1>Không có thông tin</h1>
}
@section scripts
{
    <script src="~/assets/js/Test.js"></script>
}


