@using DiamondLuxurySolution.Data.Entities
@using DiamondLuxurySolution.ViewModel.Common
@using DiamondLuxurySolution.ViewModel.Models.User.Staff

@model PageResult<StaffVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-4">
    <div class="col-md-4">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-5">
        <form asp-action="Index" asp-controller="Admin" method="get" class="d-flex">

            <div class="search">
                <input type="text" name="Keyword" class="form-control mr-2" value="@ViewBag.txtLastSeachValue" placeholder="Tìm kiếm chức vụ" />
                <button type="submit">Tìm kiếm</button>
            </div>
        </form>
    </div>
</div>
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <h6 class="text-danger">@error</h6>
    }
}

@if (Model.Items != null && Model.Items.Count > 0)
{

    <table class="table">
        <thead>
            <tr class="text-center">
                <th class="p-0">
                    <label>Chứng minh nhân dân</label>
                </th>
                <th class="p-0">
                    <label>Họ và tên</label>
                </th>
                <th class="p-0">
                    <label>Số điện thoại</label>
                </th>

                <th class="p-0">
                    <label>Trạng thái</label>
                </th>
                <th class="p-0">
                    <label>Chức vụ</label>
                </th>
                <th>Cài đặt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr class="text-center ">
                    @if (string.IsNullOrEmpty(item.CitizenIDCard))
                    {
                        <td class="p-0">Chưa có</td>
                    }
                    else
                    {
                        <td class="p-0">@item.CitizenIDCard</td>
                    }
                    <td class="p-0">@item.FullName</td>
                    <td class="p-0">@item.PhoneNumber</td>

                    @if (item.Status.Equals(DiamondLuxurySolution.Utilities.Constants.Systemconstant.StaffStatus.Suspended.ToString()))
                    {
                        <td class="p-0">
                            <span class="badge bg-danger rounded-pill">Nghĩ việc</span>

                        </td>
                    }
                    @if (item.Status.Equals(DiamondLuxurySolution.Utilities.Constants.Systemconstant.StaffStatus.Active.ToString()))
                    {
                        <td class="p-0">
                            <span class="badge bg-success rounded-pill">Hoạt động</span>
                        </td>
                    }
                    @if (item.Status.Equals(DiamondLuxurySolution.Utilities.Constants.Systemconstant.StaffStatus.ChangePasswordRequest.ToString()))
                    {
                        <td class="p-0">
                            <span class="badge bg-info rounded-pill">Y/C thay đổi mật khẩu</span>
                        </td>
                    }
                    @if (item.Status.Equals(DiamondLuxurySolution.Utilities.Constants.Systemconstant.StaffStatus.Inactive.ToString()))
                    {
                        <td class="p-0">
                            <span class="badge bg-gray-500 rounded-pill">Không hoạt động</span>
                        </td>
                    }
                    @if (item.Status.Equals(DiamondLuxurySolution.Utilities.Constants.Systemconstant.StaffStatus.Retired.ToString()))
                    {
                        <td class="p-0">
                            <span class="badge bg-yellow-500 rounded-pill">Nghĩ hưu</span>
                        </td>
                    }
                   
                    @if (item.Status.Equals(DiamondLuxurySolution.Utilities.Constants.Systemconstant.StaffStatus.OnLeave.ToString()))
                    {
                        <td class="p-0">
                            <span class="badge bg-blue-500 rounded-pill">Nghĩ phép</span>
                        </td>
                    }
                    @if (item.Status.Equals(DiamondLuxurySolution.Utilities.Constants.Systemconstant.StaffStatus.Terminated.ToString()))
                    {
                        <td class="p-0">
                            <span class="badge bg-danger rounded-pill">Chấm dứt hợp đồng</span>
                        </td>
                    }
                    @if (item.Status.Equals(DiamondLuxurySolution.Utilities.Constants.Systemconstant.StaffStatus.Probation.ToString()))
                    {
                        <td class="p-0">
                            <span class="badge bg-orange-500 rounded-pill">Thử việc</span>
                        </td>
                    }
                    <td class="p-0">@Html.Raw(string.Join("<br />", item.ListRoleName))</td>


                    <td class="text-center">
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { StaffId = item.StaffId }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Xem chi tiết", "Detail", new { StaffId = item.StaffId }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Xóa", "Delete", new { StaffId = item.StaffId }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        @await Component.InvokeAsync("Pager", Model)
    </div>
}
else
{
    <h1>Không có thông tin</h1>
}