@model DiamondLuxurySolution.ViewModel.Models.GemPriceList.CreateGemPriceListRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo mới giá kim cương</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        @if (ViewBag.Errors != null)
        {
            foreach (var error in ViewBag.Errors)
            {
                <h6 class="text-danger">@error</h6>
            }
        }

        <form asp-action="Create" asp-controller="GemPriceList" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-2">
                <label asp-for="Cut" class="control-label m-2">Giát cắt</label>
                <input asp-for="Cut" class="form-control" />
                <span asp-validation-for="Cut" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Clarity" class="control-label m-2">Độ tinh khiết</label>
                <input asp-for="Clarity" class="form-control" />
                <span asp-validation-for="Clarity" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="CaratWeight" class="control-label m-2">Trọng lượng Carat</label>
                <input asp-for="CaratWeight" class="form-control" />
                <span asp-validation-for="CaratWeight" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Color" class="control-label m-2">Màu sắc</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Price" class="control-label m-2">Giá kim cương</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="effectDate" class="control-label m-2">Ngày ảnh hưởng</label>
                <input asp-for="effectDate" class="form-control" type="date" />
                <span asp-validation-for="effectDate" class="text-danger"></span>
            </div>
            <div class="form-check form-switch m-4">
                <label asp-for="Active" class="control-label m-1">Hiển thị</label>
                <input class="form-check-input f-18" type="checkbox" asp-for="Active">
            </div>
            <div class="form-group m-2">
                <label asp-for="GemId" class="control-label m-2">Tên kim cương</label>
                <select class="h-50" multiple name="GemId[]"
                        style="height: 150px; width: 100%; padding: 8px; font-size: 16px; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9;">
                    @foreach (var gem in ViewBag.ListGem)
                    {
                        if (Model != null && Model.GemId != null)
                        {
                            string selectedCheck = Model.GemId.ToString().Contains(@gem.GemId.ToString()) ? "selected=\"selected\"" : "";
                            if (string.IsNullOrEmpty(selectedCheck))
                            {
                                <option value="@gem.GemId">
                                    @gem.GemName
                                </option>
                            }
                            else
                            {
                                <option value="@gem.GemId" selected>
                                    @gem.GemName
                                </option>
                            }
                        }
                        else
                        {
                            <option value="@gem.GemId">
                                @gem.GemName
                            </option>
                        }
                    }
                </select>
                <br />
                <span asp-validation-for="GemId" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <div class="col-md-5">
                    <input type="submit" value="Tạo mới" class="btn btn-success" />
                </div>
                <div class="col-md-7 mt-2">
                    <a class="m-6 btn btn-secondary" asp-action="Index">Về trang quản lí giá kim cương</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

