@model DiamondLuxurySolution.ViewModel.Models.Category.CategoryVm

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa </h1>
@if (ViewBag.Errors != null)
{
	foreach (var error in ViewBag.Errors)
	{
		<h6 class="text-danger">@error</h6>
	}
}
@if (Model != null)
{

					<h3 style="color: red">Bạn có muốn xóa danh mục này?</h3>
					<div>
						<hr />
						<dl class="row">
							<dt class="col-sm-2">
				ID của Danh Mục
							</dt>
							<dd class="col-sm-10">
				@Html.DisplayFor(model => model.CategoryId)
							</dd>
							<dt class="col-sm-2">
								Tên danh mục
							</dt>
							<dd class="col-sm-10">
				@Html.DisplayFor(model => model.CategoryName)
							</dd>
							<dt class="col-sm-2">
								Loại danh mục
							</dt>
							<dd class="col-sm-10">
				@Html.DisplayFor(model => model.CategoryType)
							</dd>
							<dt class="col-sm-2">
								Hình ảnh danh mục
							</dt>
							<dd class="col-sm-10">
				@if (Model.CategoryImage != null)
				{
					<img src="@Model.CategoryImage" style="style= height:100px; width:100px" />
				}
				else
				{
					<h5>Chưa co hình ảnh</h5>
				}
							</dd>
							<dt class="col-sm-2">
								Hiển thị
							</dt>
							<dd class="col-sm-10">
								<div class="form-check form-switch ">
									<input class="form-check-input f-18 ml-3" type="checkbox" asp-for="Status" value="@Model.Status" disabled />
								</div>
							</dd>
						</dl>
						<form asp-action="Delete" asp-controller="Category" method="post">
								<input type="hidden" name="CategoryId" value="@Model.CategoryId" />
							<input type="submit" value="Xóa" class="btn btn-danger" />
								<button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Category")'">Về trang quản lí danh mục</button>
						</form>
					</div>
}
else
{
						<a class="m-3" asp-action="Index" asp-controller="Category">Về trang quản lí danh mục</a>
}
