@model DiamondLuxurySolution.ViewModel.Models.InspectionCertificate.InspectionCertificateVm

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa </h1>
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <h6 class="text-danger">@error</h6>
    }
}
@if (Model != null)
{

    <h3 style="color: red">Bạn có muốn xóa giấy chứng nhận này?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.InspectionCertificateId)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.InspectionCertificateId)
            </dd>
            <dt class="col-sm-4">
                Tên giấy chứng nhận
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.InspectionCertificateName)
            </dd>
            <dt class="col-sm-4">
                Ngày tạo giấy chứng nhận
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.DateGrading)
            </dd>
            <dt class="col-sm-4">
                Logo
            </dt>
            <dd class="col-sm-8">
                @if (Model.Logo != null)
                {
                    <img src="@Model.Logo" style="style= height:100px; width:100px" />
                }
                else
                {
                    <h5>Chưa có logo</h5>
                }
            </dd>

            <dt class="col-sm-4">
                Hiển thị
            </dt>
            <dd class="col-sm-8">
                <div class="form-check form-switch col-sm-8">
                    <input class="form-check-input f-18" type="checkbox" asp-for="Status" value="@Model.Status" disabled />
                </div>
            </dd>
        </dl>
        <form asp-action="Delete" asp-controller="InspectionCertificate" method="post">
            <input type="hidden" name="InspectionCertificateId" value="@Model.InspectionCertificateId" />
            <div class="row">
                <div class="col-sm-4">
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>
                <div class="col-sm-8">
                    <a asp-action="Index" class="btn btn-secondary">Về trang quản lý giấy chứng nhận</a>
                </div>
            </div>
        </form>
    </div>
}
else
{
    <a class="m-3 btn btn-secondary" asp-action="Index">Về trang quản lí giấy chứng nhận</a>
}

