@using DiamondLuxurySolution.ViewModel.Models.User.Staff
@model DiamondLuxurySolution.ViewModel.Models.InspectionCertificate.InspectionCertificateVm

@{
    ViewData["Title"] = "Detail";
}

<h1>Chi tiết giấy chứng nhận</h1>
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <h6 class="text-danger">@error</h6>
    }
}
@if (Model != null)
{

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3 mb-3">
                @Html.DisplayNameFor(model => model.InspectionCertificateId)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InspectionCertificateId)
            </dd>
            <dt class="col-sm-3 mb-3">
                Tên giấy chứng nhận
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.InspectionCertificateName)
            </dd>
            <dt class="col-sm-3 mb-3">
                Ngày khởi tạo
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DateGrading)
            </dd>
            <dt class="col-sm-3 mb-3">
                Logo
            </dt>
            <dd class="col-sm-9">
                @if (Model.Logo != "")
                {
                    <img src="@Model.Logo" style="style= height:100px; width:100px" />
                }
                else
                {
                    <h5>Chưa có logo</h5>
                }
            </dd>
            <dt class="col-sm-3 mb-3">
                Hiển thị
            </dt>
            <dd class="col-sm-9">
                <div class="form-check form-switch ">
                    <input class="form-check-input f-18 ml-3" type="checkbox" asp-for="Status" value="@Model.Status" disabled />
                </div>
            </dd>
        </dl>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @{
                var staffVm = StaffSessionHelper.GetObjectFromJson<StaffVm>("Staff");
            }
            @if (!staffVm.ListRoleName.Contains(DiamondLuxurySolution.Utilities.Constants.Systemconstant.UserRoleDefault.SalesStaff))
            {
                @Html.ActionLink("Chỉnh sửa", "Edit", new { InspectionCertificateId = Model.InspectionCertificateId }, new { @class = "btn btn-warning" })
            }
        </div>
        <div class="col-sm-9">
            <a class="btn btn-secondary" asp-action="Index">Về trang quản lí giấy chứng nhận</a>
        </div>
    </div>

}

