@using DiamondLuxurySolution.ViewModel.Models.About
@using DiamondLuxurySolution.Data.Entities
@using DiamondLuxurySolution.ViewModel.Common
@model PageResult<AboutVm>
@{
    ViewData["Title"] = "TestView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <!-- Thư viện jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Thư viện DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

</head>

<body>
    @if (ViewBag.Errors != null)
    {
        foreach (var error in ViewBag.Errors)
        {
            <h6 class="text-danger">@error</h6>
        }
    }
    @if (Model != null && Model.Items != null && Model.Items.Count > 0)
    {
        <div class="row">
            <!-- [ basic-table ] start -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Danh sách sản phẩm</h4>
                    </div>
                    <div class="card-body table-border-style">
                        <div class="datatable-container">
                            @*                             <form asp-action="TestView" asp-controller="About" method="get">
                        *@                                <table class="table table-striped" id="sort" style="width:100%">
                                <thead>
                                    <tr class="text-center">
                                        <th>
                                            <label>Thêm Sản Phẩm</label>
                                            <label onclick="sortTable(0)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                                        </th>
                                        <th>
                                            <label>Tên Thông Tin Liên Hệ</label>
                                            <label onclick="sortTable(1)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                                        </th>
                                        <th>
                                            <label>Mô Tả</label>
                                            <label onclick="sortTable(2)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                                        </th>
                                        <th>
                                            <label>Hình Ảnh</label>
                                            <label onclick="sortTable(3)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                                        </th>
                                        <th>
                                            <label>Hiển Thị</label>
                                            <label onclick="sortTable(4)" class="fa fa-sort text-black-50" style="cursor:pointer"></label>
                                        </th>
                                        @*                                         <th>Cài đặt</th>
                                    *@
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Items)
                                    {
                                        <tr class="text-center">
                                            <td>
                                                <input class="form-check-input f-18"
                                                       type="checkbox" name="selectedIds" value="@item.AboutId"
                                                       onclick="saveSelectedIds(@item.AboutId)" />
                                            </td>
                                            <td>@item.AboutName</td>
                                            <td>@item.Description</td>
                                            @if (string.IsNullOrEmpty(item.AboutImage))
                                            {
                                                <td>Không có hình ảnh</td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <img src="@item.AboutImage" style="height:100px; width:100px" />
                                                </td>
                                            }
                                            @if (item.Status == true)
                                            {
                                                <td>
                                                    <span class="badge bg-success rounded-pill">Hoạt động</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="badge bg-danger rounded-pill">Chưa hoạt động</span>
                                                </td>
                                            }
                                            @*                                        <td class="text-center">
                                    @Html.ActionLink("Chỉnh sửa", "Edit", new { AboutId = item.AboutId }, new { @class = "btn btn-warning" })
                                    @Html.ActionLink("Xem chi tiết", "Detail", new { AboutId = item.AboutId }, new { @class = "btn btn-info" })
                                    @Html.ActionLink("Xóa", "Delete", new { AboutId = item.AboutId }, new { @class = "btn btn-danger" })
                                    </td> *@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <button type="submit" id="submitBtn" class="btn btn-primary">Xác nhận</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- [ basic-table ] end -->

        </div>
    }
    else
    {
        <h1>Không có thông tin</h1>
    }
</body>

@section scripts
{
    <script type="text/javascript" charset="utf8" src="~/assets/js/Test.js"></script>
    <script>
        var selectedIds = [];

        function saveSelectedIds(aboutId) {
            var id = parseInt(aboutId);
            if ($('input[name="selectedIds"][value="' + id + '"]').is(':checked')) {
                selectedIds.push(id);
            } else {
                var index = selectedIds.indexOf(id);
                if (index !== -1) {
                    selectedIds.splice(index, 1);
                }
            }
        }

        $('input[name="selectedIds"]').change(saveSelectedIds);

        // Library
        $(document).ready(function () {
            $('#sort').DataTable({
                "ordering": false,
                "pagingType": "full_numbers",
                "language": {
                    "paginate": {
                        "next": "Next",
                        "previous": "Previous",
                        "First": false
                    }
                },
                "pageLength": 3,
                "lengthMenu": [[3, 5, 10, 20, -1], [3, 5, 10, 15, "All"]]
            });


            $('#submitBtn').click(function () {
                debugger
                var form = $('<form action="/About/SaveSelectedId" method="POST">' +
                    '<input type="hidden" name="selectedIds" value="' + selectedIds + '" />' +
                    '</form>');
                $('body').append(form);
                form.submit();
            });
            /*$('#submitBtn').click(function () {
                debugger
                $.ajax({
                    url: '/About/Create',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({ selectedIds: selectedIds }),
                    success: function (response) {
                        // Xử lý kết quả nếu cần
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu có
                    }
                });
            });
            */
        });


        /*  $('#submitBtn').click(function (event) {
                event.preventDefault();
                sendAjaxRequest(selectedIds); // Truyền mảng selectedIds vào hàm sendAjaxRequest
            });

            // Khi người dùng nhấp vào nút Xác nhận
            function sendAjaxRequest(selectedIds) {
                debugger
                $.ajax({
                    url: '/About/SaveSelectedIds',
                    type: 'POST',
                    data: { selectedIds: selectedIds }, // Truyền mảng selectedIds vào đây
                    success: function (response) {
                        // Xử lý kết quả nếu cần
                    },
                    error: function (xhr, status, error) {
                        // Xử lý lỗi nếu có
                    }
                });
            }

        // Xử lý sự kiện khi nhấn vào nút Xác nhận

        /*        $('#submitBtn').click(function (event) {
                    debugger
                    event.preventDefault();
                    $.ajax({
                        url: '/About/SaveSelectedIds',
                        type: 'POST',
                        data: { selectedIds: selectedIds },
                        success: function (response) {
                            // Xử lý kết quả nếu cần
                        },
                        error: function (xhr, status, error) {
                            // Xử lý lỗi nếu có
                        }
                    });
                });
                // Hàm để gửi Ajax
                   function sendAjaxRequest() {
                       debugger
                       var selectedIds = JSON.parse($('#selectedIdsHidden').val());
                       $.ajax({
                           url: '/About/SaveSelectedIds',
                           type: 'POST',
                           data: { selectedIds: selectedIds },
                           success: function (response) {
                               // Xử lý kết quả nếu cần
                           },
                           error: function (xhr, status, error) {
                               // Xử lý lỗi nếu có
                           }
                       });
                   }
                   */
    </script>
}
